---
- block:
  - name: "Check if SSL {{ msehr_domain }} folder exists"
    stat:
      path: "/etc/ssl/{{ msehr_domain }}"
    register: ssl_folder_stats

  - name: "Create SSL {{ msehr_domain }} directory"
    file:
      path: "/etc/ssl/{{ msehr_domain }}"
      state: directory
      recurse: yes
      owner: root
      group: root
      mode: '0755'
    when: not ssl_folder_stats.stat.exists

- name: "create {{ msehr_domain }} private key"
  openssl_privatekey:
    path: "/etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.key"
    size: 4096
    state: present

- name: Generate an OpenSSL Certificate Signing Request with Subject information for {{ msehr_domain }}
  openssl_csr:
    path: "/etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.csr"
    privatekey_path: "/etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.key"
    country_name: "{{ country_name }}"
    locality_name: "{{ locality_name }}"
    organization_name: "{{ organization_name }}"
    email_address: "{{ email_address }}"
    common_name: "{{ msehr_domain }}"
    subject_alt_name: 'DNS:"{{ msehr_domain }}"'
    state: present

- name: "Generate a Self Signed OpenSSL certificate for {{ msehr_domain }}"
  openssl_certificate:
    path: "/etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.pem"
    privatekey_path: "/etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.key"
    csr_path: "/etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.csr"
    provider: selfsigned
    selfsigned_not_after: +3650d
    state: present
