---
- name: Include OS-specific variables.
  include_vars: "{{ ansible_facts['distribution'] }}.yml"

- name: Include distribution and version-specific vars.
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
      skip: true
  
- name: gather package facts
  ansible.builtin.package_facts:

- name: Install packages
  ansible.builtin.apt:
    name: "{{ msehr_packages }}"
    update_cache: true
    state: latest

- name: Configure PHP
  ansible.builtin.include_tasks: configure-php.yml

- name: Install MedShakeEHR
  ansible.builtin.include_tasks: install-msehr.yml
  tags: minimal

- name: Configure MariaDB
  ansible.builtin.include_tasks: configure-mariadb.yml

- name: Install self certificate
  ansible.builtin.include_tasks: install-self-cert.yml
  tags: minimal

- name: Configure Apache
  ansible.builtin.include_tasks: configure-apache.yml

- name: Configure MedShakeEHR
  ansible.builtin.include_tasks: configure-msehr.yml
  tags: minimal

- name: Configure timezone
  timezone:
    name: "{{ timezone }}"

- name: Configure unattended-upgrades
  template:
    src: templates/80unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/80unattended-upgrades
    owner: root
    group: root
    mode: 0644

- name: Configure UFW
  ufw:
    state: enabled
    rule: allow
    name: '{{ item }}'
  loop:
    - OpenSSH
    - '{{ apache_ufw_ports }}'

- name: Configure Orthanc
  template:
    src: templates/orthanc.conf.j2
    dest: "/etc/orthanc/orthanc.json"
    owner: root
    group: root
    mode: 0644
  when: "'orthanc' in ansible_facts.packages"
