{{ ansible_managed | comment }}
<VirtualHost *:80>
	ServerName {{ msehr_domain }}
	ServerAlias msehr ehr medshakeehr MedShakeEHR
	RedirectMatch     permanent ^(.*)$ https://{{ msehr_domain }}$1

</VirtualHost> 

<VirtualHost *:443>
	ServerName {{ msehr_domain }}
	ServerAlias msehr ehr medshakeehr MedShakeEHR 
	DocumentRoot "{{ msehr_dir }}/public_html"
	RewriteEngine On
	SSLEngine On
    SSLCertificateFile /etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.pem
    SSLCertificateKeyFile /etc/ssl/{{ msehr_domain }}/{{ msehr_domain }}.key
	<Directory "{{ msehr_dir }}/public_html">
		Options FollowSymLinks
		AllowOverride all
		Require all granted
	</Directory>
	ErrorLog /var/log/apache2/error.{{ msehr_domain }}.log
	CustomLog /var/log/apache2/access.{{ msehr_domain }}.log combined
</VirtualHost> 